---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. Use this dataset to answer the questions below.

In [12]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [13]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [14]:
def answer_one():
    answer = df['Gold'].idxmax()
    return answer

my_answer = answer_one()
'{} = {}'.format(type(my_answer), my_answer)

"<class 'str'> = United States"

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [15]:
def answer_two():
    answer = abs(df['Gold'] - df['Gold.1']).idxmax()
    return answer

my_answer = answer_two()
'{} = {}'.format(type(my_answer), my_answer)

"<class 'str'> = United States"

### Question 3
Which country has the biggest difference between their summer and winter gold medal counts relative to their total gold medal count? Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [16]:
def answer_three():
    hm = df.copy([df['Gold'] + df['Gold.1'] >= 2])
    hm['SvW'] = abs(hm['Gold'] - hm['Gold.1'])
    answer = (hm['Combined total'] / hm['SvW']).idxmax()
    return answer

my_answer = answer_three()
'{} = {}'.format(type(my_answer), my_answer)

"<class 'str'> = Canada"

### Question 4
Write a function to update the dataframe to include a new column called "Points" which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze mdeals for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [17]:
def answer_four():
    df['Points'] = (df['Gold.2'] * 3 + df['Silver.2'] * 2 + df['Bronze.2'])
    return df['Points']

my_series = answer_four()
print('{0}, length={1}'.format(type(my_series), len(my_series)))

<class 'pandas.core.series.Series'>, length=146

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [18]:
import pandas as pd
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)
 
*This function should return a single string value.*

In [19]:
def answer_five():
    my_df = census_df.copy()[census_df['SUMLEV'] == 50] # make a copy keeping only county-level
    my_df = my_df[['STNAME', 'CTYNAME']] # project the columns we need
    result = my_df.groupby('STNAME').size() # produce a series county counts indexed by state
    return result.idxmax() # the index (state) of the with the largest value

my_answer = answer_five()
'{} = {}'.format(type(my_answer), my_answer)

"<class 'str'> = Texas"

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)?

*This function should return a list of string values.*

In [20]:
def answer_six():
    my_df = census_df.copy()[census_df['SUMLEV'] == 50] # make a copy keeping only county-level
    my_df = my_df[['STNAME', 'CTYNAME', 'CENSUS2010POP']] # project the columns we need
    result = pd.Series() # initialize a series to hold the results
    for state in set(my_df['STNAME']): # for each unique state
        top3c = my_df.copy()[my_df['STNAME'] == state] # extract a copy of the data
        top3c.sort_values(['CENSUS2010POP'], ascending= False, inplace=True) # sort by population
        top3c = top3c.head(3) # discard all but the 3 most populous
        result = result.set_value(state, [sum(top3c['CENSUS2010POP'])]) # add this to the series
    result.sort_values(ascending=False, inplace=True) # sort the series by the values (population)
    return result.head(3).keys().tolist() # the keys of the first 3 as a list

my_answer = answer_six()
'{} = {}'.format(type(my_answer), my_answer)

"<class 'list'> = ['California', 'Texas', 'Illinois']"

### Question 7
Which county has had the largest change in population within the five year period (hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all five columns)?

*This function should return a single string value.*

In [21]:
def answer_seven():
    my_df = census_df.copy()[census_df['SUMLEV'] == 50] # make a copy keeping only county-level
    my_df['NPOPCHG_TOT'] = abs(my_df['NPOPCHG_2010']
                              + my_df['NPOPCHG_2011']
                              + my_df['NPOPCHG_2012']
                              + my_df['NPOPCHG_2013']
                              + my_df['NPOPCHG_2014']
                              + my_df['NPOPCHG_2015']
                              ) # calculate total pop change and add it to the df
    my_df = my_df[['CTYNAME', 'STNAME', 'NPOPCHG_TOT']] # project the columns we need
    my_df = my_df.set_index(['CTYNAME']) # set the index
    ans = (my_df['NPOPCHG_TOT']).idxmax() # find the index of the most populous county
    return ans # NOTE: if the index is compound, idxmax() returns a tuple of strs

my_answer = answer_seven()
'{} = {}'.format(type(my_answer), my_answer)

"<class 'str'> = Harris County"

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [25]:
def answer_eight():
    my_df = census_df.copy()[(census_df['SUMLEV'] == 50) 
                             & (census_df['REGION'].isin([1, 2]))
                             & (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014'])
                             & (census_df['CTYNAME'].str.startswith('Washington'))
                            ] # make a copy keeping only county-level
    
    my_df = my_df[['STNAME', 'CTYNAME']] # project the columns we need

    return my_df

my_answer = answer_eight()
print(type(my_answer))
print(my_answer)

<class 'pandas.core.frame.DataFrame'>
            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County